{% load static %}
<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Specer Template">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2230110922843678"
     crossorigin="anonymous"></script>
        <meta name="keywords" content="Specer, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ULES Sports</title>
    
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static 'img/logo.jpg' %}">
        <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="header__top--canvas">
           
      
        </div>
        <ul class="main-menu mobile-menu">
            <li><a href="{% url 'frontend:index' %}">Home</a></li>
            <li class="active"><a href="{% url 'frontend:schedule' %}">Schedule</a></li>
            <li><a href="{% url 'frontend:result' %}">Results</a></li>
            <li><a href="{% if request.user.is_authenticated %} {% url 'frontend:pick_team' %} {% else %} {% url 'frontend:login' %} {% endif %}">Fantasy</a></li>
        </ul>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header__top">
            <div class="container">
               
            </div>
        </div>
        <div class="header__nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="{% url 'frontend:index' %}"><img src="{% static 'img/logo.jpg' %}" height="50px" width="50px" alt=""></a>
                            
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <ul class="main-menu">
                                <li><a href="{% url 'frontend:index' %}">Home</a></li>
                                <li class="active"><a href="{% url 'frontend:schedule' %}">Schedule</a></li>
                                <li><a href="{% url 'frontend:result' %}">Results</a></li>
                                <li><a href="{% if request.user.is_authenticated %} {% url 'frontend:pick_team' %} {% else %} {% url 'frontend:login' %} {% endif %}">Fantasy</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="canvas-open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-text">
                        <h2>Match Fixtures</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Schedule Section Begin -->
    <section class="schedule-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 left-blog-pad" id="fixture">
                    
                </div>
                
            </div>
        </div>
    </section>
    <!-- Schedule Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="fs-logo">
                        
                        <ul>
                            <li>Developers</li>
                            <li><i class="fa fa-thumb-tack"></i>Akinwa Olamilekan</li>
                            <li><i class="fa fa-thumb-tack"></i>Ugwu Hillary</li>
                            <li><i class="fa fa-thumb-tack"></i>Kaduru Nathan</li>
                        </ul>
                    </div>
                </div>
             
            </div>
        </div>
     
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        async function Fixture(){
            let url = "{% url 'league:fixture' %}"
            const response = await fetch(url)
            let data = response.json()
            data.then((data) => {
                let innerHTML = ''
                console.log(data)
                for (let i=0; i < data.length; i++){
                    let gameweek = Object.keys(data[i].fixtures)[0]
                    let innerTable = ''
                    for(let j=0; j < data[i].fixtures[gameweek].length; j++){
                        innerTable += `
                        <tr>
                        <td class="left-team">
                            <h4>${data[i].fixtures[gameweek][j].home_team}</h4>
                        </td>
                        <td class="st-option">
                            <div class="so-text">Sport Center, UNILAG</div>
                            <h4>VS</h4>
                        </td>
                        <td class="right-team">
                            <h4>${data[i].fixtures[gameweek][j].away_team}</h4>
                        </td>
                    </tr>
                        `
                    }
                    innerHTML += `
                    <div class="schedule-text">
                        <h4 class="st-title">${gameweek}</h4>
                        <div class="st-table">
                            <table>
                                <tbody>
                                    ${innerTable}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    `
                }
                document.getElementById("fixture").innerHTML = innerHTML  
            })
        }
        Fixture()
    </script>
</body>

</html>